<!-- EXERCÍCIO CONTADOR -->
Valor atual de valorContador: {{ valorContador }}

<app-exercicio-contador
[(valor)]="valorContador"
></app-exercicio-contador>
<br><br>
<hr>
<!-- EVENT BINDINGS -->

<button (click)="onClickBotaoEmissor($event)">
  Emitir informação de clique.
</button>

<h1>Exemplos de Event Binding</h1>
<button (click)="onClick($event)" 
(mouseenter)="passouMouse()">
Clique em mim!</button>
<br><br>

<input type="text" [value]="valorDoInput" (keyup)="digitouAlgo($event)"><br>
<hr>

<!-- PROPERTY BINDINGS -->

<p>Valor do Input: {{ valorDoInput }} </p><br>

<h1>Exemplos de Property Binding</h1><br>

<h2>Número: {{ valor }}</h2> <br>

<h2>Cor: {{ color }}</h2><br>

<img [src]="imageURL">